/* ===========================================================

	Settings - Breakpoint
	
	Global website breakpoint variables

    
    1.
    
=========================================================== */

$bp-sm:                 em(512px);
$bp-md:                 em(768px);
$bp-lg:                 em(1024px);
$bp-xl:                 em(1280px);
$bp-xxl:                em(1400px);