/* ===========================================================

	Settings - Typography

	Global website typography variables


    1.

=========================================================== */

$ty-font-base-1:        times;
$ty-font-custom-1:      "Playfair";

$ty-font-normal:        400;
$ty-font-bold:         	800;